#die {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 3px;
    background-color: darkgray;
    margin: 10px;
    text-align: center;
    user-select: none;
    box-shadow: 20px;
    font-size: 60px;
    border-radius: 6px;
}    



